<div class="pagination">
    <ul class="pagination__list">
        <a href="#" class="pagination__prev pagination__arrow pagination__arrow-disable">
            <svg width="12" height="5">
                <use xlink:href="images/sprite.svg#pagination-prev"></use>
            </svg>
        </a>
        <li class="pagination__item">
            <a href="#" class="pagination__link pagination__link--active">1</a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__link">2</a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__link">3</a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__link">4</a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__link">5</a>
        </li>
        <a href="#" class="pagination__next pagination__arrow">
            <svg width="12" height="5">
                <use xlink:href="images/sprite.svg#pagination-next"></use>
            </svg>
        </a>
    </ul>
</div>